@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
body {
  background: #202020;
  color: rgb(17, 194, 91);
  font-family: "Fredericka the Great", serif;
}

.title {
  font-size: 2.7rem;
  font-weight: bolder;
  text-align: center;
}


.container {
  margin: auto;
  max-width: 1200px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 5px 10px;
  border: 1px solid rgb(255, 240, 35);
  border-radius: 3px;
  background: rgb(6, 214, 30);
  font-weight: bold;
  margin-bottom: 2px;
  margin-bottom: 30px;


  cursor: pointer;
  

}

.character {
  background: #101010;
  text-align: center;
  border-radius: 5px;
}

.character img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}